.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1440px;
  padding-left: 40px;
  padding-right: 40px;
  margin: auto;
  overflow: hidden;
}
header {
  background-color: white !important;
  padding: 0;
}
.notification-icon {
  color: grey !important;
}
.topbar-section {
  height: 24px;
  width: 100%;
  background: #273e59;
}
.css-hyum1k-MuiToolbar-root {
  min-height: 64px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}


.heading {
  font-size: 28px;
  margin-top: 51px;
  font-weight: bold;
}

/*equity progress */
.equity-section {
  margin-top: 76px;
}
.price-div {
  display: flex;
  justify-content: space-between;
}
.price-div p {
  font-size: 16px;
  color: #6b6c6f;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}
.price-div h3 {
  color: #1d7e64;
  font-size: 32px;
}
.polygon {
  margin: 0 auto;
  display: block;
  padding-bottom: 14px;
}
/* .progress-bar {
  width: 100%;
} */
.know-para {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 27px;
  margin-top: 49.7px;
}
.lists {
  display: flex;
  gap: 89px;
}
.lists ul li {
  text-decoration: none;
  list-style-type: none;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 24px;
}
.values li {
  font-weight: bold !important;
}
.li1 {
  padding-left: 15px;
}
.li2 {
  color: red;
}
.li3 {
  color: green;
}
.disclaimer {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #afa2a2;
}
.first-part h4 {
  padding-bottom: 16px;
}
.first-part ul li {
  font-size: 16px;
  color: #006dff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  list-style-type: none;
  text-decoration: underline;
  padding-bottom: 24px;
}
.second-part {
  background-color: #273e59;
  color: white;
  border-radius: 10px;
  width: 100%;
  padding: 16px 10px 18px 24px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.first-div {
  width: 600px;
}
/* .second-div {
  width: 50%;
} */
.name {
  font-size: 14px;
  font-weight: 400;
}
.ques {
  font-size: 20px;
  font-weight: 700;
  padding-top: 16px;
}
.profile {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-top: 14px;
}
.details p {
  font-size: 16px !important;
}
.details h3 {
  font-size: 24px;
  padding: 10px 0px;
}
button.schedulebtn {
  border-radius: 50px;
  background: white;
  color: black;
  border: 0;
  padding: 14px 40px;
  margin-top: 24px;
  font-size: 15px;
  font-weight: 500;
}

/* affordability part start */
.affordability-part {
  margin-top: 42px;
}
.affordability-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 59px;
}
.affordability-heading h3 {
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
}
.save-p {
  margin-bottom: 16px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
}
.buttons-div {
  display: flex;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
.anotherbtn {
  background: #273e59;
  color: white;
  border: 0;
  border-radius: 50px;
  padding: 18px 38px;
  position: relative;
  left: 25px;
  z-index: 1;
}
.valuebtn {
  background: #f0f0f0;
  color: black;
  border: 0;
  border-radius: 0px 50px 50px 0px;
  padding: 18px 38px 18px 50px;
  position: relative;
}
.boxes {
  display: flex;
  gap: 32px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  justify-content: space-between;
}
.box1 {
  border: 1px solid #dadce0;
  border-radius: 10px;
}
.inner-details {
  margin: 42px 47px 25px 22px;
}
.inner-details h2 {
  color: #1d7e64;
  font-size: 42px;
  font-weight: 500;
  padding-top: 25px;
  padding-bottom: 10px;
}
.inner-details h4 {
  font-size: 20px;
  font-weight: 600;
}
.inner-details p {
  font-size: 16px;
  font-weight: 400;
  color: #6b6c6f;
  padding-top: 8px;
  padding-bottom: 13px;
}
.inner-details h3 {
  font-size: 20px;
  text-decoration: underline;
  color: #0066f5;
  font-weight: 400;
}
.kathle-intro {
  margin-top: 32px;
  border-radius: 10px;
  border: 0;
  background: #273e59;
  color: white;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
.kathle-first-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  gap: 30px;
}
.kathle h4 {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 8px;
}
.kathle p {
  font-size: 16px;
  font-weight: 400;
  color: #ffffffa8 !important;
}
.kathle-profile p {
  font-size: 11px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-style: normal;
}
.contactbtn {
  margin-top: 46px;
  margin-bottom: 46px;
  margin-right: 47px;
  border-radius: 50px;
  padding: 11px 60px;
  border: 0;
  background: white;
  color: black;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}
/* affordability part end */

/* home equity part start */
.anotherbtn1 {
  background: #f0f0f0;
  color: black;
  border: 0;
  border-radius: 50px 0px 0px 50px;
  padding: 18px 38px;
  position: relative;
  left: 25px;
  z-index: -1;
}
.valuebtn1 {
  background: #273e59;
  color: white;
  border: 0;
  border-radius: 50px;
  padding: 18px 38px 18px 50px;
  position: relative;
  z-index: 1;
}
.home-value-section {
  display: flex;
  gap: 64px;
}
.bars-div {
  border-left: 1px solid #d6c8c8;
}
.bar1 {
  display: flex;
  align-items: center;
  gap: 24px;
}
.increasebtn {
  color: black;
  background: #ebb050;
  padding: 6px 19px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  border: 0;
  border-radius: 50px;
}
.home-value1 h3 {
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  margin-top: 19px;
  margin-bottom: 43px;
}
.home-value1 h3 span {
  color: #1d7e64;
}
.post {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 12px;
  margin-top: 37px;
}
.bar1 p {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 600;
}

.home-value2 {
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
.home-value2 h4 {
  font-size: 28px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
.to-do-list1 {
  display: flex;
  gap: 16px;
  margin-top: 24px;
}
.solarbtn {
  border: 0;
  color: #1d7e64;
  background: #e8f2ef;
  font-size: 18px;
  font-weight: 500;
  border-radius: 50px;
  padding: 16px 40px;
}
.btn {
  border: 1px solid #d9d9d9;
  padding: 16px 40px;
  border-radius: 50px;
}
.landscaping {
  margin-top: 24px;
}
/* home equity part end */

/* recommended projects start */
.recommended-part {
  margin-top: 65px;
}
.recommended-part h4 {
  font-size: 28px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
.projects {
  display: flex;
  margin-top: 34px;
  gap: 34px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}
.costing {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.project1 {
  border: 1px solid #d9d9d9;
  padding: 16px;
  border-radius: 10px;
  font-style: normal;
  height: 350px;
}
.door {
  font-size: 15px;
  font-weight: 600;
  padding-top: 18px;
  padding-bottom: 8px;
}
.by {
  font-size: 14px;
  font-weight: 400px;
  color: #565656;
}
.costing h4 {
  font-size: 14px;
  font-weight: 400;
  color: #30ab86;
}
.costing button {
  background: #dbfff4;
  border: 0;
  color: #30ab86;
  padding: 2px 7px;
}
p.project-para {
  color: #6b6c6f;
  font-size: 16px;
  font-weight: 400;
}
.project1 {
  font-size: 16px;
  font-weight: 400;
}
p.quote {
  color: #0066f5;
  font-size: 16px;
  font-weight: 400;
}
h5.costy {
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 16px;
}
.project1 img {
  width: 100%;
  height: auto;
}
/* recommended projects end */

.css-i4bv87-MuiSvgIcon-root {
  color: black;
}

/*login css*/
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');


.login {
  margin: 100px auto;
  padding: 40px 50px;
  max-width: 400px;
  border-radius: 5px;
  background: #8080805c;
  box-shadow: 1px 1px 1px #666;
}
  .login input {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 14px 12px;
    font-size: 16px;
    border-radius: 2px; 
    font-family: Raleway, sans-serif;
  }

.login input[type=text],
.login input[type=password] {
  border: 1px solid #c0c0c0;
  transition: .2s;
}

.login input[type=text]:hover {
  border-color: #273e59;
  outline: none;
  transition: all .2s ease-in-out;
} 

.login input[type=submit] {
  border: none;
  background: #273e59;
  color: white;
  font-weight: bold;  
  transition: 0.2s;
  margin: 20px 0px;
}

.login input[type=submit]:hover {
  background: #273e59;  
}

  .login h2 {
    margin: 20px 0 0; 
    color: #273e59;
    font-size: 28px;
  }

.login p {
  margin-bottom: 40px;
}

.links {
  display: table;
  width: 100%;  
  box-sizing: border-box;
  border-top: 1px solid #c0c0c0;
  margin-bottom: 10px;
}

.links a {
  padding-top: 10px;
  text-align: center;
}

.links a:first-child {
  text-align: left;
}

.links a:last-child {
  text-align: right;
}

  .login h2,
  .login p,
  .login a {
    text-align: center;    
  }

.login a {
  text-decoration: none;  
  font-size: .8em;
}

.login a:visited {
  color: inherit;
}

.login a:hover {
  text-decoration: underline;
}

.logoutbtn{
  background:#273e59;
  color:white;
  margin-left: 13px;
  padding: 8px;
  border-radius: 20px;
}
.logoutbtn:hover{
  cursor: pointer;
}

/*profile page*/
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.user-card {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background:#273e59;
 border-radius: 10px;
 padding: 30px;
 width: 400px;
 position: relative;
 overflow: hidden;
 box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
 color: white;
}

.user-card-img {
  display: flex;
  justify-content: center;
  align-items: center;   
  z-index: 3;
}

.user-card-img img {
  width: 100px;
  height: 100px;
  object-fit: cover;
    border-radius: 50%;
}

.user-card-info {
  text-align: center;
}

.user-card-info h2 {
  font-size: 24px;
  margin-top: 25px;
  margin-bottom: 10px;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 3px;
}

.user-card-info p {
  font-size: 14px;
  margin-bottom: 2px;
}
.user-card-info p span {
 font-weight: 700;
 margin-right: 10px;
}
.details{
  text-align: left;
  margin-top: 30px;
  line-height: 30px;
}
.backbtn{
  margin-top: 20px;
  padding: 10px;
  color: #273e59;
  background-color: white;
  border: 0;
  font-size: 18px;
  font-weight: bold;
}

.profile-img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.forminputs input{
  width: 100%;
    display: block;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 14px 12px;
    font-size: 16px;
    border-radius: 2px;
    font-family: Raleway, sans-serif;
}
.update-inputs{
  margin-top: 30px;
}
p.settings {
  text-align: left;
}
.settings span{
  font-size: 16px;
  color: #273e59;
  font-weight: bold;
}
.updatebtn{
  background:#273e59 !important;
  color: white !important;
  border-color: #273e59;
  cursor: pointer;
}


.fileuploader{
  height: 400px !important;
  border:2px dashed rgb(6, 88, 194); 
  width: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.guZdik {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-width: 322px;
  max-width: 508px;
  height: 148px !important;
  border: none !important; 
  padding: 8px 16px 8px 8px;
  border-radius: 5px;
  cursor: pointer;
  flex: 1 !important;
}


